    /* .carousel-inner {

} */
body,
html {
    overflow-x: hidden;
    /* Remove horizontal scrollbar on all screens */
    font-family: 'Open Sans', sans-serif;
    /* Apply your font choice */
}

.testimonial-slide {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.testimonial-content {
    max-width: 800px;
}

.testimonial-text {
    font-size: 1.5rem;
    font-style: italic;
}

.testimonial-name {
    font-size: 1.25rem;
    font-weight: bold;
}

.inside {
    background-color: rgba(50, 50, 50, 0.2);
}

.custom-button {
    color: black;
    /* text-black */
    background-color: white;
    /* bg-white */
    border: 1px solid black;
    /* Add border to make it look better on hover */
    max-width: fit-content;
}

.custom-button:hover {
    color: white;
    background-color: black;
}

.fixed-size-img {
    width: 86px;
    /* Set the width to 86px */
    height: 70px;
    /* Set the height to 70px */
    object-fit: cover;
    /* Cover the container while maintaining aspect ratio */
}
#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
}